@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Kursa kayıt olmak istiyorsan tıkla</h1>
    <p> <a class="btn btn-secondary" asp-controller="Course" asp-action="CourseApplyView">Kayıt ol</a>
        <a class="btn btn-secondary" asp-controller="Course" asp-action="ApplicationView">Kayıt Olanlar</a>
    </p>
</div>
